.logOut {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  background-image: url(../../assets/logout.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logOutWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.logOutLeft,
.logOutRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logOutLogo {
  font-size: 50px;
  font-weight: 800;
  color: grey;
  margin-bottom: 10px;
}

.logOutDesc {
  font-size: 24px;
  color: white;
}

.logOutBox {
  height: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.254);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logOutInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.logOutInput:focus {
  outline: none;
}

.logOutButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: orange;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.logOutButton:focus {
  outline: none;
}

.logOutButton:disabled {
  cursor: not-allowed;
}

.logOutForgot {
  text-align: center;
  color: #1775ee;
}

.logOutRegisterButton {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
